body{
   
    padding: 0;
    margin: 0 auto;
}
.image{
    background-image: url('./../images/header..JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% ;
    height:20rem;
    padding: 20px
    z-index: 1;
}
#overlay{
    position: relative;
    width: 98%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(145, 83, 83, 0.3);
    z-index: 2; 
}
.third-section{
    height: 500px;
    background-color: #ccc;

}
.forth-section{
    height: 500px;
    background-color: darkcyan;
}
.footer{
    height: 300px;
    background-color: #333;

}
