body{
   
    padding: 0;
    margin: 0 auto;
}
.back{
    background-image: url('./../images/carbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% ;
    height:20rem;
   
   
}
 .image{
    background-image: url('./../images/car2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100% ;
    height:23rem;
    margin-right: 15px;
    z-index: 1;
   
} 
#overlay{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2; 
}
.third-section{
    height: 500px;
    background-color: #ccc;
    /*add this to  to bring infront*/
    z-index: 99999;
    position:relative;

}
.forth-section{
    height: 500px;
    background-color: darkcyan;
}
.footer{
    height: 300px;
    background-color: #333;

}
.custom-tag{
    padding: 14px;;
}
.custom-tag h2{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    position: relative;

}
.custom-tag p{
    color:#fff;
    font-size: 16px;
    
}
.custom-tag h2::before{
    content: "";
    height:3px;
    width: 25%;
    background-color: yellow;
    position:absolute;
    bottom: 0;
    left: 1em;
    right: 0;
    
}